
body, html {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: calc(var(--footer-height)); */
    background-image: url('../assets/jungle_90.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    /* background-color: var(--color5);
    width: 1000px;
    max-width: 80%; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
} */

/* footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
} */


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* .gutter-right {
    margin-right: 20px;
} */

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  /* @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  } */

/* .main-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
} */

.math {
    padding: 30px 0 30px 0;
    margin: 10px 0 40px 0;
    width: 180px;
    display: grid;
    /* grid-template-rows: 1fr 20px 1fr 30px; */
    justify-content: center;
    text-align: center;
    background-color: hsl(108, 27%, 57%, 0.9);
    border-radius: 20px;
}

.input {
    margin: 10px;
    width: 80px;
    border-radius: 10px;
}

.button {
    margin: 5px 0 0 0;
    border-radius: 10px;
}

.result {
    margin-top: 10px;
}

p {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 15px;
}

#minus {
    font-size: 20px;
}

#frog {
    position: relative;
    width: 140px;
    height: auto;
    top: 80px;
    right: 470px;
    z-index: 1;
}